@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-distributed .footer-left{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

@media (max-width: 880px) {
 
	.footer-distributed .footer-left{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 

 
}