body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container1 {
    background-image: url(./img/car.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: auto;
    height: 625px;
    width: 100%;
    color: white;
  }
  .container{
    margin-top: 10%;
  }
  .bookcab {
    float: right;
    padding: 10px;
    border: none;
  }