 * {
 	padding: 0;
 	margin: 0;
 }

 body {
 	font: 16px/1.6 Arial, sans-serif;
 }


 @media (max-height:800px) {

 	header {
 		padding-top: 40px;
 	}
 }

 .footer-distributed .footer-left
  {
 	
 	vertical-align: top;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 }

 /* Footer left */

 .footer-distributed .footer-left {
 	width: 30%;
 	bottom: 0px;
 	left: 0px;
 	right: 0px;
 }

 .footer-distributed h3 {
 	color: #ffffff;
 	font: normal 36px 'Cookie', cursive;
 	margin: 0;
 }

 @media (max-width: 880px) {

 	.footer-distributed .footer-left {
 		
 		width: 100%;
 		margin-bottom: 40px;
 		text-align: center;
 	}


 }